VITE_TEST_RESULTS_ENDPOINT=https://script.google.com/macros/s/AKfycbwNodpnk_9o1jrugibx2LWrbbmHQ6StvCCbhg8cIig1oNXkqn6en5reYIFEohIPd9sH/exec

VITE_GOOGLE_FORM_BASE_URL=https://docs.google.com/forms/d/e/1FAIpQLSecKcOo18g3BDwtX6ULq4j7a5SC5UNaMxiDe-0TV_Pe2ObXTg/viewform
VITE_FORM_PARTICIPANT_ENTRY=entry.712957604
VITE_FORM_ORDER_ENTRY=entry.2066890071
VITE_FORM_PHASE1_VARIANT_ENTRY=entry.988083818
VITE_FORM_PHASE2_VARIANT_ENTRY=entry.243439753
